body {
  background-color: #2F2F2F;
  color: #fff;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
}

.fade-img {
  position: relative;
  z-index: -1;
}

.fade-img img {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.top-wrapper {
  height: 100vh;
  z-index: 1;
}

.top-wrapper .top-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: fit-content;
  padding: 20px 40px;
  text-align: center;
  border: 1px solid orange;
}

.top-wrapper .top-logo h1.top-logo-title img {
  width: 280px;
}

.top-wrapper .top-logo .top-logo-text {
  color: #fff;
  font-family: Hiragino Mincho ProN;
  font-size: 1.5rem;
}

.top-wrapper .top-text {
  position: absolute;
  bottom: 20%;
  right: 20%;
  color: #fff;
  font-family: Hiragino Mincho ProN;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-wrapper .top-text:after {
  border-top: 1px solid;
  content: "";
  width: 5em;
}
